body {
    background: #ffffff;
    font-family: Calibri, sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.4px;
    word-spacing: 2px;
}

button {
    border: 2px solid transparent;
    border-color: #458FF6;
    border-radius: 28px;
    width: 150px;
    height: 44px;
    background-color: #ffffff;
    color: #458FF6;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.3px;
}
  
.container {
    max-width: 1100px;
    margin: 0 auto;
}

/*** header ***/
.header__container {
    padding-inline-start: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.header__nav ul {
    display: flex;
    padding-left: 0px;
}

.header__nav ul li{
    list-style: none;
}
  
.header__nav ul li a {
    margin-right: 60px;
    color: #1F1534;
    opacity: 50%;
}

.active a{
    color: #000000 !important;
    opacity: 100% !important;
    font-weight: bold;
}

/*** header-download ***/
.download__container {
    padding-top: 100px;
    padding-inline-start: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.download__inner {
    width: 500px;
}
  
.download__heading {
    width: 250px;
    font-weight: 550;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 20px;
}
  
.download__paragraph {
    width: 360px;
    color: #7D7987;
    margin: 30px 0 20px;
    font-size: 19px;
    font-weight: lighter;
    line-height: 1.6em;
    letter-spacing: 0.4px;
    word-spacing: 2px;
}
  
.download__button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download__button img{
    margin-left: 11px;
}

.download__image {
    width: 635px;
    height: 420px;
}

/*** latest-article ***/
.latest-article {
    text-align: center;
    margin: 105px 0;
}
  
.latest-article__container {
    width: 1400px;
    padding: 100px 120.5px 40px;
    margin: 0 auto;
    background-image: url(../images/shapes-background.svg);
    background-repeat: no-repeat;
    background-position-x: 70px;
    background-position-y: 100px;
}

.head__latest-article {
    margin: 20px 0;
    font-weight: 550;
    font-size: 40px;
    color: #000000;
}

.articles__container {
    margin: 76px 0px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article {
    text-align: left;
    width: 350px;
    height: 512px;
    border: none;
    border-radius: 21px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.article__image {
    width: 350px;
    height: 240px;
    border-radius: 21px 21px 0 0;
}

.article__image1 {
    background-image: url(../images/article-image1.svg);
}

.article__image2 {
    background-image: url(../images/article-image2.svg);
}

.article__image3 {
    background-image: url(../images/article-image3.svg);
}

.article__title {
    margin: 30px 0 23px 34px;
    font-weight: 550;
    font-size: 25px;
}

.article__paragraph {
    margin: 0 0 23px 34px;
    font-size: 17px;
    line-height: 1.5em;
    letter-spacing: 0.25px;
    word-spacing: 1.5px;
    color: #7D7987;
}

.read__more {
    color: #4089ED;
    font-weight: 550;
    font-size: 17px;
    letter-spacing: 0.25px;
    margin: 0 0 23px 34px;
}

.read__more img{
    margin-left: 5px;
}

/*** testimonials ***/
.testimonials {
    text-align: center;
    margin:0 0 0 0;
    height: 768px;
    width: 100%;
    background: #F3F8FE;
}

.testimonials__container {
   padding-top: 140px;
   color: #ffffff;
}

.comments {
    border: none;
    border-radius: 24px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    height: 425px;
    width: 1120px;
}

.comments img{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.head__comments {
    padding: 75px 0 15px 0;
    margin: 0 0 0 0;
    font-weight: 550;
    font-size: 30px;
    letter-spacing: 0.5px;
    word-spacing: 2px;}

.customer__comment {
    width: 855px;
    display: flex;
    align-items: center;
    padding-top: 55px;
    padding-left: 118px;
}

.customer__photo {
    width: 137px;
    height: 137px;
    border: 4px solid transparent;
    border-color: #ffffff;
    border-radius: 50%;
    background-image: url(../images/edward-photo.svg);
    background-position-x: -68px;
    background-position-y: -97px;
}

.customer {
    text-align: left !important;
    margin-left: 30px;
}

.customer__name {
    margin-bottom: 11px;
    font-weight: 550;
    font-size: 21px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}

.customer__position {
    margin-top: 12px;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 0.4px;
    word-spacing: 1.7px;
}

.comment__paragraph {
    margin-left: 135px;
    text-align: left !important;
    font-size: 19px;
    font-weight: lighter;
    line-height: 1.6em;
    letter-spacing: 0.4px;
    word-spacing: 2px;
}

.slider__container {
    margin-top: 47px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.left, .right{
    cursor: pointer;
}

.slider{
    margin: 0 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.point{ 
    margin: 0 10px; 
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5B9BF3;
    opacity: 30%;
}

.active__point{
    opacity: 100% !important;
}

/*** footer ***/
.footer {
    height: 153px;
    width: 100%;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.background__footer {
    width: 100%;
    height: 100%;
    background-image: url(../images/dots.svg);
    background-position-x: -30px;
    background-position-y: 57px;
    background-repeat: no-repeat;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
}

.footer__nav ul {
    display: flex;
}

.footer__nav ul li{
    list-style: none;
}
  
.footer__nav ul li a {
    font-weight: 550;
    margin-left: 180px;
    color: #ffffff;
}
